.pagination {
  .pagination__item {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid teal;
    cursor: pointer;
  }

  .pagination__item:hover {
    background: teal;
  }

  .active-pagination__item {
    background: teal;
  }
}
