.search-input {
  cursor: text;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  padding-left: 12px;
  margin-top: 32px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 25px;

  .input {
    width: 100%;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    outline: none;
    font-size: 1.2rem;
  }

  &__icon {
    color: rgba(0, 0, 0, 0.26);
  }
}

.search-input:focus-within {
  border-color: #719ece;
  box-shadow: 0 0 8px #719ece;
}
