.word-card {
  margin-top: 30px;
}
.word-card__work-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-details__container {
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 25px;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 8px;
  margin-top: 24px;
}

.word-btn {
  margin-right: 10px;
  cursor: pointer;
}

.word-card__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .word-card__btn {
    font-size: 1.5rem;
    cursor: pointer;
  }
}
